/* This file is for your main application css. */

@import "./phoenix.css";
@import "../../deps/phoenix_live_view/assets/css/live_view.css";

.pixel1 {
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #f8f6f6;
  width: 30px;
  height: 30px;
  float: left;
  background-color: #fdafc52e;
}
.pixel2 {
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #f8f6f6;
  width: 30px;
  height: 30px;
  float: left;
  background-color: #fdafc5;
}
.pixel3 {
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #f8f6f6;
  width: 30px;
  height: 30px;
  float: left;
  background-color: #f05682;
}
.pixel4 {
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #f8f6f6;
  width: 30px;
  height: 30px;
  float: left;
  background-color: #e82d63;
}
.pixel5 {
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #f8f6f6;
  width: 30px;
  height: 30px;
  float: left;
  background-color: #ff004a;
}

.pixel_updated {
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #f8f6f6;
  width: 30px;
  height: 30px;
  float: left;
  background-color: #ff4152;
}

